* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times New Roman, serif;

}

img {
    width: 100px;
    height: 100px;
}

body {
    background-color: #faf9f8;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

nav {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;

}

nav p {
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: none;
    text-decoration: none;
}

nav menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;

}

/* button responsive  */

nav menu button {
    font-size: 19px;
    margin: 20px;
    padding: 10px 15px;
    letter-spacing: 2px;
    border: none;
    background-color: #e8e3de;
    color: black;

}

nav menu button:active {
    background-color: #b9b5b0;

}

section.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

/* img responsive  */
section.header .proffile-wrapper {
    position: relative;
    width: 470px;
    height: 470px;
    display: block;

    margin: 50px auto;

}

section.header img.profile {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

section.header .proffile-wrapper::after {
    content: "";
    display: block;

    width: 470px;
    height: 470px;

    display: block;
    background-color: #e8e3de;
    position: absolute;
    top: 70px;
    left: -70px;

    z-index: -1;
}

section.header .text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 500px;
    font-family: Georgia, Times New Roman, serif;



}

section.header .text p.header-txt {
    margin: 50px auto;
    font-size: 3em;
    text-align: center;
    letter-spacing: 5px;
    line-height: 45px;


}

section.header .text p {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    line-height: 25px;
    letter-spacing: 1px;

}

section.header .text .boo {
    display: flex;
    align-items: center;
    text-align: start;
    max-width: 350px;
    margin-bottom: 15px;

}

section.header .text .boo img {
    width: 50px;
    height: 50px;
}

section.header .text .boo a,
section.header .text .boo p {
    margin: 5px;
    font-size: 15pt;
    text-decoration: none;
    color: black;
}