.o-meni{
    /* position: relative;
    bottom:850px ; */
    margin-top: 500px;

}

p.o-meni-header{
    text-align: center;
    font-size: 4em;
}
.o-meni .o-meni-content{
    width: 100%;
    background-color: #e8e3de;
}
.o-meni .o-meni-content p:nth-child(1){
    text-align: center;
    font-size: 20pt;
}
.o-meni .o-meni-content p:nth-child(1){
    text-align: center;
    font-size: 20pt;
    margin-top: 30px;
}
.o-meni .o-meni-content .comments{
    background-color: red;
    display: flex;

}
.o-meni .o-meni-content .comments .single-comment{
    max-width: 500px;
}