
.page-wrapper-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px;

    transition-delay: 0.4s;

    font-family: TheSeasons;
}

.footer img{
    height: 650px;
    width: 490px;
    margin: 0 auto;
}
.footer .txt-box{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer .txt-box p:nth-child(1){
    margin-top: 30px;

    font-size: 3em;
    text-align: center;
    font-family: TheSeasons;


}
.footer .txt-box p:nth-child(2){
    font-size: 2em;
    margin-top: 30px;
}
.footer .txt-box a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 30px;
    font-size: 2em;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.2s;
    
}
.footer .txt-box a:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}
.footer .txt-box a:active{
    transform: scale(1.1);
    background-color: black;

}

@media only screen and (max-width: 600px) {
    .footer img{
        height: 450px;
        width: 390px;
        margin: 0 auto;
    }
    .footer .txt-box p:nth-child(1){
        font-size: 2em;
    }
    .footer .txt-box p:nth-child(2){
        font-size: 1.5em;
    }
    .footer .txt-box a{
        padding: 20px;
        font-size: 1.5em;

    }
  }