.fotografije {
  margin-top: 100px;
}

.fotografije p.fotografije-header {
  text-align: end;
  font-size: 3em;
  padding: 40px;
  font-family: TheSeasons;

}

.fotografije .img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  position: relative;
}

.fotografije .img-box::before {
  content: "";
  display: block;
  background-color: #e8e3de;
  width: 100%;
  height: calc(100% - 300px);
  position: absolute;
  top: 100px;
  z-index: -1;
}

.fotografije .img-holder {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  flex-wrap: wrap;
}
.fotografije .img-holder span{
  width: 323px;
  height: 329px;
  margin: 15px;
  overflow: hidden;

}
.fotografije .img-holder img {
  width: 323px;
  height: 329px;
  transition: 0.2s all ease;
}
.fotografije .img-holder img:hover {
  transform: scale(1.3);
  transition-delay: 0s;
}

.fotografije p:nth-child(2) {
  font-size: 22pt;
  margin: 80px auto;
  text-align: center;
  font-family: CormorantGaramond;

}
@media only screen and (max-width: 600px) {
  .fotografije p:nth-child(2) {
    font-size: 15pt;
  }
}
