body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

.klijenti {
  margin-top: 150px;
  text-align: left;
}

.klijenti p.klijenti-header {
  padding: 20px;
  font-size: 3em;
  font-weight: normal;
  font-family: TheSeasons;

}

.klijenti-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  max-width: 1200px;
  overflow: hidden;
}

.pre-btn,
.nxt-btn {
  cursor: pointer;
  margin: 40px;
  border: none;
  padding: 20px;
  border-radius: 50%;
    background-color: #e8e3de;

}

.pre-btn img {
  transform: rotate(-90deg);
}

.nxt-btn img {
  transform: rotate(90deg);
}

.pre-btn img,
.nxt-btn img {
  width: 50px;
}

.klijenti-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  max-width: 1000px;
}

.klijenti-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.klijenti-card {
  flex: 0 0 calc((100% - 40px) / 3); /* 3 kartice + 2x gap */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e8e3de;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.klijenti-card video {
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.klijenti-card p:nth-child(2) {
  background-color: white;
  font-size: 15pt;
  max-width: 200px;
  margin: 0 auto 10px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid black;
  position: relative;
  top: -5%;
}

.klijenti-card p:nth-child(3) {
  font-size: 13pt;
  font-family: CormorantGaramond;
  padding: 10px;
  margin-top: -20px;

}

/* RESPONSIVE */
@media (max-width: 768px) {
  .klijenti-wrap {
    margin: 40px auto;
    flex-direction: column;
  }

  .klijenti-slider {
    max-width: 90%;
    gap: 10px;
  }

  .klijenti-card {
    flex: 0 0 90%; /* Prikaz jedne kartice */
  }

  .pre-btn,
  .nxt-btn {
    margin: 20px;
    padding: 15px;
  }

  .pre-btn img,
  .nxt-btn img {
    width: 30px;
  }
}
