@font-face {
  font-family: TheSeasons;
  src: url(/fonts/Fontspring-DEMO-theseasons-reg.otf);

  font-family: CormorantGaramond;
  src: url(/fonts/CormorantGaramond-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #faf9f8;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}


section.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

section.header .proffile-wrapper {
  position: relative;
  width: 470px;
  height: 470px;
  display: block;

  margin: 50px auto;
}

section.header img.profile {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

section.header .proffile-wrapper::after {
  content: "";
  display: block;

  width: 470px;
  height: 470px;

  display: block;
  background-color: #e8e3de;
  position: absolute;
  top: 70px;
  left: -70px;

  z-index: -1;
}

section.header .text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 500px;
  font-family: Georgia, Times New Roman, serif;
  transition-delay: 0.2s;
}

section.header .text p.header-txt {
  margin: 50px auto;
  font-size: 3em;
  text-align: center;
  letter-spacing: 5px;
  line-height: 45px;

  font-family: TheSeasons;
}

section.header .text p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 1px;

  font-family: CormorantGaramond;
}

section.header .text .boo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

section.header .text .boo img.mail {
  width: 40px;
  height: 30px;
}
section.header .text .boo img.location {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

section.header .text .boo a,
section.header .text .boo p {
  margin: 5px;
  font-size: 16pt;
  text-decoration: none;
  color: black;
  font-family: CormorantGaramond;
}
@media only screen and (max-width: 600px) {

  section.header .proffile-wrapper {
    position: relative;
    width: 300px;
    height: 330px;
    margin: 50px auto;
  }

  section.header img.profile {
    width: 100%;
    height: 100%;
    display: block;
  }

  section.header .proffile-wrapper::after {
    content: "";
    display: block;

    width: 300px;
    height: 330px;

    display: block;
    background-color: #e8e3de;
    position: absolute;
    top: 20px;
    left: -20px;

    z-index: -1;
  }

  section.header .text {
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: Georgia, Times New Roman, serif;
  }

  section.header .text p.header-txt {
    margin: 50px auto;
    font-size: 2em;
    text-align: center;
    letter-spacing: 5px;
    line-height: 45px;
  }
}
/* 
==================================
annimations 
==================================
*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.hidden1 {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


