.scroll-to-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 85%;

    background-color: #e8e3de;
    box-sizing: border-box;
    border: 5px solid #faf9f8;

    border-radius: 100px;
    padding: 20px;

    cursor: pointer;
    z-index: 1;

    opacity:0 ;
    pointer-events: none;
    transition: .4s all;
}
.scroll-to-top img{
    position: relative;
    width: 40px;
    height: 40px;
}
.scroll-to-top:hover img{
    position: relative;
    animation: bouncing 0.5s linear infinite;
    transform:scale(1.1);
}
.showBtn{
    opacity: 1;
    pointer-events: auto;
    top: 80%;
}
@keyframes bouncing {
    0%{top: 0px;}
    25%{top: -5px;}
    50%{top: 0px;}
    75%{top: 5px;}
    100%{top: 0px;}
  }

  @media only screen and (max-width: 600px) {
    .scroll-to-top{
        left: 73%;
        top: 88%;
    }
    .scroll-to-top img{
        position: relative;
        width: 20px;
        height: 20px;
    }
  }
